body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Smythe', sans-serif;
} 

/* typography and icons */

h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.header-container h1 {
    margin: 0;
    padding: 0;
}

.footer-container h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.header-container h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.checkout-section h2 {
    font-size: 22px;
}

.footer-container h2 {
    font-size: 15px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
}

.checkout-section h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.deal-section h3 {
    text-align: center;
    font-size: 18px;
}

h4 {
    font-size: 20px;
}

.bottom h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FCF3F6;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.order-discount-container h4 {
    margin: 0;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

h8 {
    color: #065F46;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    color: #FFF1F2;
    font-size: 16px;
}

.menu-details p {
    padding-right: 20px;
}

.star {
    color: #757575;
    cursor: pointer;
}

.star:hover,
.star:focus,
.star:active {
    font-size: 40px;
}

.goldStar {
    color: gold;
}

/* layout */

.container {
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("images/coffee-top-dark.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    justify-content: center;
    padding: 86px 0 70px 0;
    margin: 0 auto 0 auto;
}

main {
    background-image: url("images/background-flower.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0 0 40px 0;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 35px 20px 20px 20px;
}

.menu-item {
    display: flex;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 30px;
}

.item-image-container {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.menu-details {
    width: 100%;
    padding-right: 20px;
}

.prices-container {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.portion-sizes {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.add-btn-container {
    margin: auto 40px auto auto;
}

.deal-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px auto 0 auto;
    padding: 8px 0 20px 0;
}

.checkout-section {
    display: none;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 70px 0 80px 0;
}

.order-items {
    margin-top: 35px;
}

.order-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-item h3 {
    margin: 0;
}

.order-item-price {
    margin-left: auto;
}

.order-total {
    display: flex;
    border-top: 2px solid #D2D2D2;
    margin: 30px 0 0 0;
}

.order-sum {
    margin-left: auto;
}

.order-discount-container {
    display: none; /*flex when displayed*/
    margin: 0;
}

.order-discount {
    margin-left: auto;
}

.payment-modal {
    display: none; /*flex when displayed*/
    flex-direction: column;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    background-image: url("images/coffee-top-dark.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 480px;
    max-width: 80%;
    padding: 30px 45px 60px 45px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 6px 6px 255px rgba(0, 0, 0, 0.50);

}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

input {
    color: #111827;
    font-size: 20px;
    background-color: #FFF1F2;
    width: 100%;
    padding: 15px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #757575;
    box-sizing: border-box;
}

.order-complete-message-section {
    display: flex;
    flex-direction: column;
    background-color: #ECFDF5;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 180px;
    margin: 0 auto 0 auto;
    padding: 60px 60px;
    border-radius: 4px;
}

.rating-container {
    margin: 15px 0 0 0;
    text-align: center;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #111827;
    color: whitesmoke;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding: 70px 0 50px 0;
    margin: 0 auto 0 auto;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 40px 0 30px 0;
    gap: 60px;
}

.attribution, .my-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* buttons*/

button {
    cursor: pointer;
}

.remove-button {
    color: #FFF1F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: none;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
}

.remove-button:hover,
.remove-button:focus,
.remove-button:active {
    font-size: 15px;
}

.size-button {
    color: #603817;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.size-button:hover,
.size-button:focus,
.size-button:active {
    color: whitesmoke;
    background-color: #16DB99;
}

.payment-modal-close-btn {
    background-color: #FFF1F2;
    margin: 0 0 30px auto;
    border: none;
    border-radius: 4px;
}

.purchase-button {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #16DB99;
    padding: 18px 100px;
    border: none;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.05);
}

.pay-button {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    background-color: #16DB99;
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    border-radius: 4px;
}

.purchase-button:hover,
.purchase-button:focus,
.purchase-button:active,
.pay-button:hover,
.pay-button:focus,
.pay-button:active {
    background-color: #25B17E;
}

/* images */

.item-image {
    width: 100px;
    border-radius: 4px;
}

/* Links */

a {
    color: #D4E3FF;
}

a:hover, a:active, a:visited {
    color: #7DA7FB;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

/* typography */

.header-container h1 {
    font-size: 60px;
}

.footer-container h1 {
    font-size: 45px;
}

.header-container h2 {
    font-size: 30px;
}

.footer-container h2 {
    font-size: 25px;
}

.checkout-section h2 {
    font-size: 38px;
}

h3 {
    font-size: 45px;
}

.deal-section h3 {
    font-size: 30px;
}

h4 {
    font-size: 32px;
}

.bottom h4 {
    font-size: 15px;
}

h8 {
    font-size: 32px;
}

p {
    font-size: 25px;
}

.menu-details p {
    padding-right: 0;
}

/* layout */

.container {
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 0 0 80px 0;
}

.header-container {
    width: 60%;
    gap: 25px;
    padding: 150px 0 90px 45px;
}

.menu-container {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 70px 0 0 40px;
}

.menu-item {
    padding-bottom: 45px;
}

.item-image-container {
    width: 200px;
    margin-right: 50px;
}

.menu-details {
    width: 100%;
    padding-right: 0;
}

.prices-container {
    gap: 45px;
    justify-content: flex-end;
    padding-right: 40px;
}

.portion-sizes {
    justify-content: flex-end;
    padding-right: 15px;

}

.checkout-section {
    width: 60%;
    padding: 100px 0 150px 0;
}

.deal-section {
    padding: 15px 0 40px 0;
}

.order-total {
    margin-top: 50px;
}

.payment-modal {
    max-width: 520px;
    padding: 90px 45px 120px 45px;
}

.order-complete-message-section {
    gap: 25px;
    padding: 80px 120px;
}

.rating-container {
    margin-top: 20px;
}

.footer-container {
    width: 60%;
    padding: 90px 0 90px 45px;
}

/* Buttons */

.remove-button {
    font-size: 18px;
}

.remove-button:hover,
.remove-button:focus,
.remove-button:active {
    font-size: 20px;
}

.size-button {
    font-size: 20px;
    padding: 10px 15px;
}

.purchase-button {
    font-size: 25px;
    margin-top: 70px;
}

/* Images */

.item-image  {
    width: 200px;
}

}
