body {
    margin: 0;
    padding: 0;
    color: #111827;
    font-family: 'Smythe', sans-serif;
} 

/* typography */

h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.checkout-section h2 {
    font-size: 28px;
}

h3 {
    font-size: 28px;
}

.checkout-section h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 20px;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h8 {
    color: #065F46;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

p {
    color: #8B8B8B;
    font-size: 16px;
}

/* layout */

header {
    display: flex;
    flex-direction: column;
    background-image: url("images/hamburger-top.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 500px; */
    width: 100%;
    padding: 55px 0 57px 45px;
    margin: 0 auto 0 auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 60px auto 0 auto;
    padding-left: 15px;
}

.menu-item {
    display: flex;
    /* gap: 40px; */
    border-bottom: 1px solid #D2D2D2;
}

.item-image {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.add-btn-container {
    margin: auto 40px auto auto;
}

.checkout-section {
    display: none;
    flex-direction: column;
    width: 500px;
    margin: 70px auto 80px auto;
    padding-left: 15px;
}

.order-items {
    margin-top: 35px;
}

.order-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-item h3 {
    margin: 0;
}

.order-item-price {
    margin-left: auto;
}

.order-total {
    display: flex;
    border-top: 2px solid #393333;
    margin: 30px 0 0 0;
}

.order-sum {
    margin-left: auto;
}

.payment-modal {
    display: none; /*flex when displayed*/
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    position: fixed;
    margin: auto;
    top: 180px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 520px;
    /* width: 60%; */
    padding: 48px 25px;
    border-radius: 3px;
}

.order-complete-message-section {
    display: flex;
    background-color: #ECFDF5;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 504px;
    margin: 0 auto 0 auto;
    padding: 50px 60px;
}

/* buttons and icons*/

.add-button {
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    padding: 15px 20px;
    cursor: pointer;
}

i {
    padding: 0;
    margin: 0;
}

.remove-button {
    color: #BBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: none;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.purchase-button {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #16DB99;
    padding: 18px 180px;
    border: none;
    margin-top: 50px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.05);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

/* typography */

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 40px;
}

.checkout-section h2 {
    font-size: 45px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

/* layout */

.header-container {
    width: 60%;
    padding: 75px 0 77px 45px;
}

.menu-container {
    width: 60%;
    margin-top: 70px;
    margin-bottom: 80px;
}

.checkout-section {
    width: 60%;
    margin: 100px auto 150px auto;
}

/* .order-items {
    margin-top: 50px;
} */

.order-total {
    margin-top: 50px;
}

/* Buttons */

.remove-button {
    font-size: 18px;
}

.purchase-button {
    font-size: 25px;
    margin-top: 70px;
}

}
