body {
    margin: 0;
    padding: 0;
} 

/* typography */

/* layout */

.container {
    display: flex;
    width: 600px;
}

header {
    color: whitesmoke;
    background-image: url("images/hamburger-top.png");
    background-size: cover;
    background-position: center;
    height: 170px;
    padding: 10px;
}

ul {
    list-style: none;
}

/* images */

img {
    height: 170px;
}
